---
apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Service
    metadata:
      labels:
        app: ms-ping
        version: 7.2.0
      name: ms-ping
    spec:
      ports:
        - name: http
          port: 8080
          protocol: TCP
          targetPort: 8080
          nodePort: 31000
      type: NodePort
      selector:
        app: ms-ping
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      labels:
        app: ms-ping
        version: 7.2.0
      name: ms-ping
    spec:
      selector:
        matchLabels:
          app: ms-ping
      template:
        metadata:
          labels:
            app: ms-ping
            version: 7.2.0
        spec:
          containers:
            - name: ms-ping
              image: lcrbneves/ping:0.0.1-SNAPSHOT
              imagePullPolicy: IfNotPresent
              resources:
                limits:
                  memory: "1Gi"
                  cpu: "1"
                requests:
                  memory: "100Mi"
                  cpu: "100m"
              ports:
                - containerPort: 8080
                  name: http
                  protocol: TCP
              env:
                - name: SPRING_PROFILES_ACTIVE
                  value: k8s